/*
Braden Held
10-4-23
CPSC 3750
Program Exam #1 
A
*/

.page {
    font-family: Arial, Helvetica, sans-serif;
}

div .lists {
    display: inline-block;
    width: 175px;
    vertical-align: top;
    border-radius: 5px;
    border: 1px solid black;
}

ul {
    text-decoration: none;
    list-style: none;
}

header {
    margin: 5px;
    padding: 5px;
}

.lists {
    margin: 5px;
    padding: 5px;
}
